IOSApp/Wing/Wing.xcodeproj/project.xcworkspace/xcuserdata/nurykim.xcuserdatad/UserInterfaceState.xcuserstate
IOSApp/Wing/Wing.xcodeproj/xcuserdata/nurykim.xcuserdatad/xcschemes/xcschememanagement.plist